[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
derive_builder = { workspace = true }
validator = { workspace = true, features = ["derive"] }

[build-dependencies]
